# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
./out
./.idea
./.idea/sonarlint/
.idea
out
./acmicpc.net/programmers/Test.java
./acmicpc.net/programmers/Test1.java
./acmicpc.net/programmers/Test2.java
./acmicpc.net/programmers/Test3.java
./acmicpc.net/programmers/Test4.java
./acmicpc.net/programmers/Test6.java
./acmicpc.net/programmers/Test7.java
